.vscode/settings.json
book.csv
academic.csv
add-a-comment.csv
adult-fiction.csv
art.csv
autobiography.csv
biography.csv
business.csv
childrens.csv
christian-fiction.csv
christian.csv
classics.csv
contemporary.csv
crime.csv
cultural.csv
default.csv
erotica.csv
fantasy.csv
fiction.csv
food-and-drink.csv
health.csv
historical-fiction.csv
historical.csv
history.csv
horror.csv
humor.csv
music.csv
mystery.csv
new-adult.csv
nonfiction.csv
novels.csv
paranormal.csv
parenting.csv
philosophy.csv
poetry.csv
politics.csv
psychology.csv
religion.csv
romance.csv
science-fiction.csv
science.csv
self-help.csv
sequential-art.csv
short-stories.csv
spirituality.csv
sports-and-games.csv
suspense.csv
thriller.csv
travel.csv
womens-fiction.csv
young-adult.csv
Book Data/